.well
  %ul.pagination-centered{:style => "list-style: none; margin-left: 0 !important;"}
    %li
      = link_to "My Notes", root_path, :class => "btn", :style => "min-width: 80%; margin: 8px auto"
    %li 
<<<<<<< HEAD
      = link_to "Shared", notes_shared_path, :class => "btn", :style => "min-width: 80%; margin: 8px auto"
    %li 
      = link_to "All Notes", notes_all_path, :class => "btn", :style => "min-width: 80%; margin: 8px auto"
=======
      = link_to "Shared", "javascript:void(0);", :class => "btn", :style => "min-width: 80%; margin: 8px auto"
    %li 
      = link_to "All Notes", "javascript:void(0);", :class => "btn", :style => "min-width: 80%; margin: 8px auto"
>>>>>>> 36a2f3959683644bcb532aad8e692ce805cf3d76
